html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.debug {
  position: fixed;
  top: 0;
  padding: 10px;
  color: #fff;
  user-select: none;
  cursor: default;
}
.loading {
  position: fixed;
  top: 80vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 25px;
}
canvas {
  transition: opacity linear 2s;
}
